.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  font-family: 'Times New Roman', Times, serif;
}

.container-tugas11{
  text-align: center;
}

table{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:50%;
    
}

table.tugas11{
  border: 1px solid black;
}

table.tugas11 thead{
  background-color: #aaaaaa;
  font-weight: bold;
}

table.tugas11 tbody{
  background-color: #ff7f50;
  text-align: left;
}

.label-left{
  float: left;
}

.label-right{
  float: right;
}



